INHERIT: ./template.yml

site_author: 'FFW Baudenbach'
site_description: 'Homepage der FFW Baudenbach'
site_dir: 'public'
site_name: 'Freiwillige Feuerwehr Markt Baudenbach'
site_url: 'https://ffw-baudenbach.github.io/Homepage/'

plugins:
  - search
  - privacy:
      assets_exclude:
       - baudenbach.einsatzprotokoll.com/*
  - glightbox
  - blog:
      blog_dir: .
      blog_toc: true
  - htmlproofer:
      raise_error: !ENV [ENABLE_LINK_CHECK, True] #Disabled locally to not break 'mkdoc serve' on every typo...
      validate_external_urls: False

nav:
  - Home:
      - index.md
  - Über uns:
    - Über uns/index.md
    - Aktive Wehr:
      - Über uns/Aktive Wehr/01-fuehrung.md
      - Einsatzfahrzeuge:
        - Über uns/Aktive Wehr/Einsatzfahrzeuge/index.md
        - Über uns/Aktive Wehr/Einsatzfahrzeuge/mzf.md
        - Über uns/Aktive Wehr/Einsatzfahrzeuge/hlf20.md
        - Über uns/Aktive Wehr/Einsatzfahrzeuge/lf86.md
        - Über uns/Aktive Wehr/Einsatzfahrzeuge/tsfa.md
        - Archiv:
          - Über uns/Aktive Wehr/Einsatzfahrzeuge/Archiv/slf.md
    - Jugend: Über uns/Jugend/jugend.md
    - Verein: Über uns/Verein/verein.md
  - Einsätze:
      - Einsätze/Einsätze.md
  - Termine:
      - Termine/Termine.md
  - Intern:
      - Intern/index.md
      - Handyalarmierung:
        - Intern/Handyalarmierung/index.md
        - Intern/Handyalarmierung/Nutzungsbedingungen.md
      - Firecloud: Intern/Firecloud/index.md
      - Kalender: Intern/Kalender/index.md
  - Impressum:
      - Impressum/01-impressum.md
      - Impressum/02-datenschutz.md
