# Required plugins and themes
mkdocs>=1,<2
mkdocs-material
mkdocs-git-revision-date-localized-plugin
mkdocs-htmlproofer-plugin
mkdocs-glightbox==0.3.7 # newer versions causes problem (lightbox works only for cached images)
click==8.2.1 # alternative --livereload